/* === MEDIA QUERIES FOR RESPONSIVENESS === */

/* Small devices (phones) */
@media screen and  (max-width: 800px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-content h2 {
    font-size: 1.2rem;
  }

  .hero-btns {
    flex-direction: column;
    gap: 10px;
  }


    @media (max-width: 800px) {
    .hero-image img {
        width: 100%;  
    }
    }

    @media (max-width: 576px) {
    .hero-image img {
        width: 350px; /* even smaller on phones */
    }
    }
  

  .about-content {
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;
    overflow-x: hidden;
  }

  .skills-container {
    grid-template-columns: 1fr;
    padding: 30px 20px;
  }

  
   .skill-category {
  /* base styles */
  transition: box-shadow 0.5s ease;
}

.skill-category.glow {
  box-shadow: 0 0 30px rgba(108, 99, 255, 0.7);
}



  .project-grid .card {
    flex: 1 1 100%;
    max-width: 80%;
  }

  .contact-container {
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
  }

  .timeline-block {
    width: 95%;
    left: 30px !important;
    text-align: left;
    padding: 1.2rem;
  }

  .timeline-line {
    left: 31px;
  }

  .timeline-line::before,
  .timeline-line::after {
    left: -5px;
    transform: none;
  }

  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-social .social-links {
    justify-content: center;
  }
}
